@model IEnumerable<BookShop.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Books inside Database</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemId })
        </td>
    </tr>
}
    
    
</table>

<p>
    @Html.ActionLink("Add new book to the shelf", "Create")

</p>

<p>

 
</p>
